@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: rgb(255, 8, 8);
  --secondaryColor: rgb(248, 249, 250);
  --bgColor: rgb(255, 255, 255);
  --textColor: rgb(0, 0, 0);
  --scrollColor: rgb(219, 219, 219);
  --thumbColor: rgb(168, 168, 168);
  --second-text-color: rgb(110, 110, 110);
  --scrollBarColor: rgb(241, 241, 241);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bgColor) !important;
}

.dark-mode {
  --primaryColor: rgb(255, 8, 8);
  --bgColor: rgb(20, 20, 20);
  --textColor: rgb(255, 255, 255);
  --secondaryColor: rgb(37, 39, 54);
  --scrollColor: rgb(37, 39, 54);
  --second-text-color: rgb(201, 201, 201);
  --thumbColor: rgb(30, 29, 43);
  --scrollBarColor: rgb(37, 39, 54);
}

.back_top {
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 32;
  background-color: var(--primaryColor);
  color: white;
  text-align: 'center';
  margin: '0 auto';
  font-size: 14;
}
.card {
  background-color: var(--bgColor);
  color: var(--textColor);
  border: 0;
}

.p-card {
  background-color: var(--bgColor);
  color: var(--second-text-color);
}
.btn-mode {
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--primaryColor);
  outline: none;
  border: none;
  margin-left: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.btn {
  width: 100px;
  height: 40px;
  color: white;
  background-color: var(--primaryColor);
  margin-left: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 32px;
  place-items: center;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textColor);
}

p {
  color: var(--second-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container-xxxl {
  max-width: 1440px;
  padding: 0 5%;
  margin: auto;
}

.text-purple {
  color: var(--primaryColor);
}

::-webkit-scrollbar {
  background-color: var(--scrollBarColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbColor);
  border-radius: 40px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.view-all {
  color: var(--textColor);
}

img,
a {
  border: none;
  outline: none;
}

.section-backdrop::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background: linear-gradient(to top, var(--bgColor), transparent);
}
